<div style="color:#b40202 !important;margin:0;padding:0;background: #b40202 url(images/bg.jpg) no-repeat center top;">
	<div style="width:480px;height:auto;margin:0 auto;padding-top:220px;min-height:150px">
		<div style="text-align:center">
			<h3 style="text-decoration:underline;margin-top:0">Behind the screen</h3>
			<!-- <div style="margin:0px 0 10px 0px; ">
				<a href= "https://www.facebook.com/ImranRovan" style="color:#b40202">Imran Rovan<a/>
				</div>
				<div style="margin:0px 0 10px 0px; ">
					<a href= "https://www.facebook.com/abhilashdsm" style="color:#b40202">Abhilash M A
						<a/>
				</div> -->
				<div style="margin:0px 0 10px 0px; ">
				<a href= "https://www.facebook.com/ImranRovan" style="color:#b40202">Nihas pl<a/>
				</div>
				<div style="margin:0px 0 10px 0px; ">
					<a href= "https://facebook.com/shankpaul" style="color:#b40202">
						Shan K Paul
						<a/>
					</div>				
					<div style="margin:0px 0 10px 0px; ">
						<a href= "https://www.facebook.com/sanu45" style="color:#b40202">
							Sanu K Soman
							<a/>
						</div>
					</div>	
					<div style="text-align:center;padding-bottom:20px;">
						<h4 style="texet-decoration:underline;text-decoration:underline;margin:10px 0 30px;">
							In association with
						</h4>
						<div style="float:left;width:38%;text-align:center;">
							<a style="color:#b40202" href="https://www.facebook.com/RovanLab" target="_blank">
								<img src="images/rovan.png" width="120" />
							</a>
						</div>
						<div style="float:left;width:30%;text-align:center;">
							<a style="color:#b40202" href="http://www.tagprof.xom" target="_blank">
								<img src="images/tagprof.png" width="120" />
								<a/>
							</div>
							<div style="float:left;width:30%;text-align:center;margin-top: -17px;">
								<a  style="color:#b40202" href="http://clicaso.com" target="_blank">
									<img src="images/clicaso.png" width="140" />
									<a/>
								</div>
							</div>
						</div>
						<div style="width:100%;height:198px;margin:0 auto;background: #b40202 url(images/footer.jpg) no-repeat center top;">
						</div>
					</div>