<div style="color:#b40202 !important;margin:0;padding:0;background: #b40202 url(images/bg.png) no-repeat center top;">
	<div style="width:480px;height:auto;margin:0 auto;padding-top:220px;min-height:150px">
		<div style="text-align:center">
			<h3 style="text-decoration:underline;margin-top:0">Behind the screen</h3>
			<div style="margin:0px 0 10px 0px; ">Imran Rovan</div>
			<div style="margin:0px 0 10px 0px; ">Abhilash M A</div>
			<div style="margin:0px 0 10px 0px; ">Shan K Paul</div>
			<div style="margin:0px 0 10px 0px; ">Sanu K Soman</div>
		</div>	
	<div style="text-align:center;padding-bottom:20px;">
		<h4 style="texet-decoration:underline;text-decoration:underline;margin:10px 0;">In association with</h4>
		<div style="float:left;width:58%;text-align:center;"><a style="color:#b40202" href="https://www.facebook.com/RovanLab" target="_blank"><img src="images/rovan.png" width="120" /></a></div>
		<div style="float:left;width:40%;text-align:center;"><a  style="color:#b40202" href="http://www.fifa2014.co" target="_blank"><img src="images/fifa.png" width="120" /><a/></div>
	</div>
	</div>
	<div style="width:701px;height:198px;margin:0 auto;background: #b40202 url(images/footer.png) no-repeat left top;">
		
	</div>

</div>
