<div id="xmasapp">
	<h1>Xmas Friend App
		<a href='logout' class="not-me right">Not <%= @profile["first_name"] %></a>
	</h1>
	<div class="content">
		<h2>
			<%= 'Hai , ' + @profile["first_name"] + ' , Please give some gift to '+ @friend['first_name'] unless  @friend.nil?  %>
		</h2>

		<div class="img-area">

			<div class="left xmas-cap" >
				<img src="images/cap.png">
				<img src='<%= @profile["image"]  unless @profile.nil? %>'>
			</div>

			<div class="friendship left"> + </div>

			<div class="left xmas-cap">
				<img src="images/cap.png">
				<img src='<%= @friend["image"]  unless @friend.nil? %>'>
			</div>
			<br style="clear:both" />
		</div>
		<br style="clear:both" />
	</div>
</div>