<!DOCTYPE HTML>
<html >
	<head>
		<meta property="og:title" content="Find Your Christmas Friend"/>
	    <meta property="og:type" content="website"/>
	    <meta property="og:image" content="http://"/>
	    <meta property="og:url" content="http://"/>	
	    <meta name="imgkit-crop-h" content="900">
    	<meta name="imgkit-crop-w" content="333">    
	    <link href="css/style.css" rel="stylesheet">
		<title>Cristmas Friend</title>
		<style>
			body { font-family: Arial; font-size: 20px ;}
			a { text-decoration: none; color: #333; }
			.logout a { color: #2554C7; font-size: 15px; }
			.article { font-size: 1.2em; }
			.like_site { font-size: 0.8em }
		</style>
	</head>
	<body style="margin:0;padding:0;">
		<%= yield %>
	</body>
</html>