<!DOCTYPE HTML>
<html >
	<head>
		<meta property="og:title" content="Find Your Christmas Friend"/>
	    <meta property="og:type" content="website"/>
	    <meta property="og:image" content="http://"/>
	    <meta property="og:url" content="http://"/>	
	    <meta name="imgkit-crop-h" content="900">
    	<meta name="imgkit-crop-w" content="333">    
	    <link href="css/style.css" rel="stylesheet">
		<title>Cristmas Friend</title>
		<style>
			body { font-family: Arial; font-size: 20px ;text-rendering: optimizeLegibility;-webkit-font-smoothing: antialiased;}
			a { text-decoration: none; color: #333; }
			.logout a { color: #2554C7; font-size: 15px; }
			.article { font-size: 1.2em; }
			.like_site { font-size: 0.8em }
		</style>
	</head>
	<body style="margin:0;padding:0;background: #b40202;">
		<%= yield %>
<% unless @no_footer %>
<div style="text-align:center;color:#FFF;font-size:15px;"><a style="color:#FFF;font-size:15px;" href="about">About Us</a> | 
<a style="color:#FFF;font-size:15px;" href="<%= BASE_URL %>">ChristmasFriend V 1.0.0</a> 
<% unless  session['fb_token'].nil? %>|
<a style="color:#FFF;font-size:15px;" href="logout">Logout</a>
<% end %>
</div>
<% end %>
	</body>
</html>
